.section {
    text-align: center;
    height: 880px;
    background: url('/images/elite-book.jpg') no-repeat center;
    background-size: cover;
}

.content {
    padding: 60px 20px 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    flex: 1;
}

.button {
    padding: 10px 20px;
    background-color: #facc15;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
}

.heading {
    font-size: 2.5em;
    color: #FFD700;
}

.paragraph {
    font-size: 1.2em;
    color: #B9BBB6;
    margin-bottom: 24px;
}

@media (max-width: 768px) {
    .section {
        text-align: center;
        height: 250px;
        background: url('/images/book.jpg') no-repeat center;
        background-size: cover;
    }

    .content {
        padding: 25px;
        max-width: 50%;
        margin: 0 0 auto;
        text-align: left;
        flex: 1;
    }

    .heading {
        font-size: 2em;
        margin: 0;
        color: #FFD700;
    }

    .paragraph {
        font-size: 0.8em;
        color: #B9BBB6;
        margin-bottom: 24px;
    }
    .button {
        padding: 10px 20px;
        background-color: #facc15;
        color: #000;
        border: none;
        border-radius: 8px;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section {
        padding: 40px 20px;
        text-align: center;
        height: 450px;
        background: url('/images/book.jpg') no-repeat center;
        background-size: cover;
    }

    .content {
        padding: 25px;
        max-width: 400px;
        margin: 0 0 auto;
        text-align: left;
        flex: 1;
    }

    .heading {
        font-size: 2.5em;
        color: #FFD700;
    }

    .paragraph {
        font-size: 1.5em;
        color: #B9BBB6;
        margin-bottom: 24px;
    }
    .button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #facc15;
        color: #000;
        border: none;
        border-radius: 8px;
        font-size: 1em;
        font-family: sans-serif;
        font-weight: bold;
    }
}
