.section {
    padding: 60px 20px;
    text-align: center;
}

.title{
    margin: 70px;
    font-size: 2.5em;
    color: #FFD700;
    font-weight: normal;
    font-family: sans-serif;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.card {
    padding: 20px;
    border-radius: 10px;
    width: 170px;
    color: white;
    text-align: center;
}

.testimonial-img {
    margin-bottom: 10px;
}

.rounded {
    border-radius: 50%;
    box-shadow: 0px -2px 33px -4px rgba(250,224,91,0.3);
    -webkit-box-shadow: 0px -2px 33px -4px rgba(250,224,91,0.3);
    -moz-box-shadow: 0px -2px 33px -4px rgba(250,224,91,0.3);
}

.card p {
    display: block;
    margin: 10px 0;
    font-size: 1em;
    font-family:"Roboto";
    font-style: normal;
    color: #FFD700;
}

.card strong {
    display: block;
    margin-top: 20px;
    font-size: 0.9em;
    font-family:"Roboto";
    font-weight: bold;
    color: #FFD700;
}

.card small {
    margin: 0px;
    font-size: 0.8em;
    font-family:"Roboto";
    color: #FFD700;
}

@media (max-width: 768px) {
    .title{
        font-size: 2em;
        margin: 40px auto;
        width: 70%;
        color: #FFD700;
        font-weight: normal;
        font-family: sans-serif;
    }
    .card p {
        display: block;
        margin: 10px 0;
        font-size: 1em;
        font-family:"Roboto";
        font-style: normal;
        color: #FFD700;
    }

    .card strong {
        display: block;
        margin-top: 10px;
        font-size: 0.9em;
        font-family:"Roboto";
        font-weight: bold;
        color: #FFD700;
    }

    .card small {
        margin: 0px;
        font-size: 0.8em;
        font-family:"Roboto";
        color: #FFD700;
    }
}


