.section {
    padding: 60px 20px;
    text-align: center;
}
.section h2 {
    margin: 70px;
    color: #FFD700;
    font-size: 2.5em;
    font-family: sans-serif;
    font-weight: normal;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #141009;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.icon {
    margin-bottom: 10px;
}

.card h3 {
    margin: 10px 0 5px;
    color: #facc15;
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: bold;
}

.card p {
    font-size: 1em;
    font-family: sans-serif;
    color: #CCCC99;
    font-weight: normal;
    line-height: 1.4;
}
@media (max-width: 768px) {
    .section h2 {
        color: #FFD700;
        font-size: 2em;
        font-family: sans-serif;
        font-weight: normal;
    }
    .card h3 {
        margin: 10px 0 5px;
        color: #facc15;
        font-size: 1.5em;
        font-family: sans-serif;
        font-weight: bold;
    }

    .card p {
        font-size: 1em;
        font-family: sans-serif;
        color: #CCCC99;
        font-weight: normal;
        line-height: 1.4;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 700px;
        margin: 0 auto;
        gap: 20px;
    }
    .section h2 {
        color: #FFD700;
        font-size: 2.5em;
        font-family: sans-serif;
        font-weight: normal;
    }
    .card h3 {
        margin: 10px 0 5px;
        color: #facc15;
        font-size: 1.5em;
        font-family: sans-serif;
        font-weight: bold;
    }

    .card p {
        font-size: 1em;
        font-family: sans-serif;
        color: #CCCC99;
        font-weight: normal;
        line-height: 1.4;
    }
}