.header {
    padding: 20px;
    position: relative;
    height: 700px;
    background: url('/images/broker.jpg') no-repeat right center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
}

.content {
    padding: 25px;
    text-align: left;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.heading {
    font-family: sans-serif;
    font-size: 3em;
    color: #FFD700;
    font-weight: bold;
    margin-bottom: 15px;
    max-width: 760px;
}

.paragraph {
    font-size: 1.5em;
    color: #B9BBB6;
    margin-bottom: 24px;
    max-width: 560px;
}

.button {
    padding: 12px 24px;
    background-color: #facc15;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    font-size: 1em;
    font-family: sans-serif;
    max-width: 200px;
}



@media (max-width: 768px) {
    .header {
        background: url('/images/M-Broker.jpg') no-repeat ;
        background-size: cover;
        height: 350px;
        padding: 20px 10px;
        text-align: center;
        justify-content: center;
    }
    .heading {
        font-family: sans-serif;
        font-size: 22px;
        color: #FFD700;
        font-weight: bold;
        margin: 2px 0 5px;
        max-width: 200px;
    }

    .content {
        padding: 15px;
        max-width: 100%;
    }
    .paragraph {
        font-size: 15px;
        margin-bottom: 20px;
        max-width: 200px;
    }
    .button {
        padding: 12px 24px;
        background-color: #facc15;
        color: #000;
        font-weight: bold;
        border: none;
        border-radius: 7px;
        font-size: 12px;
        font-family: sans-serif;
        max-width: 150px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        background: url('/images/broker.jpg') no-repeat right center;
        height: 400px;
        background-size: cover;
        text-align: center;
        padding: 20px 10px;
    }
    .heading {
        font-family: sans-serif;
        font-size: 30px;
        color: #FFD700;
        font-weight: bold;
        margin: 10px 0 15px;
        max-width: 400px;
    }

    .content {
        padding: 15px;
        max-width: 100%;
    }
    .paragraph {
        font-size: 18px;
        margin-bottom: 24px;
        max-width: 360px;
    }
}