.section {
    padding: 60px 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.highlight {
    font-size: 1.3em;
    color: #CCCC99;
    text-transform: uppercase;
    margin: 0px;
}
.timer {
    color: #CCCC99;
    font-size: 1.8em;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.offer-news {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.frame{
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin-top: 10px;
}


@media (min-width: 768px) {
    .offer-news {
        flex-direction: row;
        align-items: flex-start;
    }

    .offer {
        padding: 10px;
        width: 60%;
    }
    .frame{
        max-width: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .offer {
        padding: 10px;
        margin: 0 auto;
        width: 80%;
    }

    .offer-news {
        flex-direction: column;
        align-items: center;
    }

    .frame{
        max-width: none;
    }
}